name: Run Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        test-dir: ['tests/one_file', 'tests/simple_demo']
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-15 g++-15

    - name: Use g++-15 as default
      run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-15 100 \
                                   --slave /usr/bin/g++ g++ /usr/bin/g++-15
          sudo update-alternatives --set gcc /usr/bin/gcc-15
          sudo update-alternatives --set g++ /usr/bin/g++-15

    - name: Verify version
      run: |
          gcc --version
          g++ --version
      
    - name: Run ${{ matrix.test-dir }} tests
      run: |
        cd ${{ matrix.test-dir }}
        bash test.sh
